<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AJAX2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Jquery1Servlet</display-name>
    <servlet-name>Jquery1Servlet</servlet-name>
    <servlet-class>tm.change.Jquery1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jquery1Servlet</servlet-name>
    <url-pattern>/Jquery1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Jquery2Servlet</display-name>
    <servlet-name>Jquery2Servlet</servlet-name>
    <servlet-class>tm.change.Jquery2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jquery2Servlet</servlet-name>
    <url-pattern>/Jquery2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Jquery3Servlet</display-name>
    <servlet-name>Jquery3Servlet</servlet-name>
    <servlet-class>tm.change.Jquery3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jquery3Servlet</servlet-name>
    <url-pattern>/Jquery3Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Jquery4Servlet</display-name>
    <servlet-name>Jquery4Servlet</servlet-name>
    <servlet-class>tm.change.Jquery4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jquery4Servlet</servlet-name>
    <url-pattern>/Jquery4Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Jquery5Servlet</display-name>
    <servlet-name>Jquery5Servlet</servlet-name>
    <servlet-class>tm.change.Jquery5Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jquery5Servlet</servlet-name>
    <url-pattern>/Jquery5Servlet</url-pattern>
  </servlet-mapping>
</web-app>